.FeedbackBlock {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: var(--feedback-block-font-size, 1.125rem);
  font-weight: var(--feedback-block-font-weight, 400);
  color: var(--feedback-block-font-color, #69757a);
  font-family: canada-type-gibson, Arial, sans-serif;

  ::slotted(*) {
    display: unset !important;
  }

  &-content {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  &-confirmationContent {
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-confirmationMessage {
    display: block;
    width: 100%;
    text-align: center;
  }

  &-ctaText {
    margin-right: 1rem;
  }

  &-options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(var(--feedback-block-option-count), 1fr);
    grid-gap: .75rem;
  }

  &-button {
    border: 0;
    background: none;
    cursor: pointer;
    width: var(--feedback-block-icon-size, 2rem);
    height: var(--feedback-block-icon-size, 2rem);
    background: var(--feedback-block-button-background-color, #e8eced);
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    & + & {
      margin-left: .5rem;
    }

    i {
      display: inherit;
      width: var(--feedback-block-icon-size, 1rem);
      height: var(--feedback-block-icon-size, 1rem);
      color: var(--feedback-block-icon-color, #69757a);

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
