.FeedbackBlock {
  position: relative;
  display: inline-flex;
  align-items: center;
  font: 
    normal 
    normal 
    var(--feedback-component-font-weight, 400) 
    var(--feedback-component-font-size, 1.125rem) / normal 
    var(--feedback-component-font-family, 'Arial, sans-serif');
  color: var(--feedback-component-font-color, #69757a);

  ::slotted(*) {
    display: unset !important;
    font: inherit;
  }

  &-content {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  &-confirmationContent {
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-confirmationMessage {
    display: block;
    width: 100%;
    text-align: center;
  }

  &-ctaText {
    margin-right: 1rem;
  }

  &-options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(var(--feedback-component-option-count), 1fr);
    grid-gap: .75rem;
  }

  &-button {
    border: 0;
    background: none;
    cursor: pointer;
    width: var(--feedback-component-button-size, 2rem);
    height: var(--feedback-component-button-size, 2rem);
    background: var(--feedback-component-button-background-color, #e8eced);
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    & + & {
      margin-left: .5rem;
    }

    i {
      display: inherit;
      width: var(--feedback-component-icon-size, 1rem);
      height: var(--feedback-component-icon-size, 1rem);
      color: var(--feedback-component-icon-color, #69757a);

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
